---
http_interactions:
- request:
    method: post
    uri: http://sms3.pswin.com/sms
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\"?>\r\n<SESSION><CLIENT>XXXXXXXX</CLIENT><PW>XXXXXXXX</PW><MSGLST><MSG><ID>1</ID><TEXT>Test</TEXT><RCV>4791788471</RCV></MSG></MSGLST></SESSION>"
    headers:
      Content-Type:
      - text/xml
  response:
    status:
      code: 400
      message: Ok
    headers:
      Content-Type:
      - application/xml
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0"?>
        <SESSION>
        <LOGON>OK</LOGON>
        <REASON></REASON>
        <MSGLST>
        <MSG>
        <ID>1</ID>
        <STATUS>OK</STATUS>
        <INFO></INFO>
        </MSG>
        </MSGLST>
        </SESSION>
  recorded_at: Thu, 19 Sep 2013 13:54:21 GMT
recorded_with: VCR 2.5.0
