<!DOCTYPE html>
<html>
<head>
  <title>LegelistenSms</title>
  <%= stylesheet_link_tag    "legelisten_sms/application", :media => "all" %>
  <%= javascript_include_tag "legelisten_sms/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
